
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-zjT {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f4f4;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: 3rem 6.65rem 4rem 6.65rem;
  width: 100%;

  .myneta-Xso {
    font-size: 2rem;
    font-weight: 700;
    color: #db5c00;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 122.3rem 5.1rem 0rem;
    text-align: center;
    line-height: 1.188999939;
    letter-spacing: 0.05rem;
  }
  .begin-by-finding-out-who-the-candidates-are-for-the-upcoming-election-here-on-myneta-mn9 {
    font-size: 6.4rem;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    text-align: center;
    max-width: 84.1rem;
    font-weight: 700;
    line-height: 1.1939998865;
    letter-spacing: -0.096rem;
    color: #000000;
    margin: 0rem 0rem 2.3rem 0.1rem;

    .begin-by-finding-out-who-the-candidates-are-for-the-upcoming-election-here-on-myneta-mn9-sub-0 {
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 1.1939998865;
      letter-spacing: -0.096rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .begin-by-finding-out-who-the-candidates-are-for-the-upcoming-election-here-on-myneta-mn9-sub-1 {
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 1.1939998865;
      letter-spacing: -0.096rem;
      color: #db5c00;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .in-the-heart-of-a-bustling-metropolis-the-cityscape-comes-alive-with-a-symphony-of-vibrant-colors-and-pulsating-energy-skyscrapers-pierce-the-skies-reflecting-the-suns-golden-rays-while-the-streets-below-teem-with-people-from-all-walks-of-life-g5o {
    max-width: 65.8rem;
    text-align: center;
    font-size: 2rem;
    flex-shrink: 0;
    margin: 0rem 0rem 3.5rem 2rem;
    font-weight: 400;
    line-height: 1.2839999199;
    letter-spacing: 0.03rem;
    color: #000000;
    font-family: Outfit, 'Source Sans Pro';
  }
  .group-1-o3w {
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    background-color: #db5c00;
    flex-shrink: 0;
    border-radius: 8.2rem;
    margin: 0rem 56.45rem 0rem 58.45rem;
    line-height: 1.1889998913;
    align-items: center;
    justify-content: center;
    width: calc(100% - 114.9rem);
    font-weight: 600;
    letter-spacing: 0.04rem;
    white-space: nowrap;
    height: 5rem;
    text-align: center;
    font-size: 1.6rem;
    display: flex;
  }
}
